/* Div with black border */
div{
    border: 1px solid black;
}

/*paragraph with padding*/
p{
    padding: 10px 10px 10px 10px;
}


.box{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: relative;
    animation-name: slidingBox;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
}

@keyframes slidingBox {
    0%{
        left: 0px;
    }
    20%{
        left: 1000px;
    }
    40%{
        left: 2000px;
    }
    100%{
        left: 3000px;
    }
}

.d1{background:LightSkyBlue;}
  .d2{background:LightSalmon;}
  .d3{background:PaleTurquoise;}
  .d4{background:LightPink;}
  .d5{background:PaleGreen;}

  .container {
    font-size: 40px;
    width: 100%;
    background: LightGray;
    /* Only change code below this line */

    
    /* Only change code above this line */
  }

  #woman{
      width:30%;
      height:auto;
      margin: 0 50px;
  }